
// Colores
$primary-color: #3a5a40;
$secondary-color: #8fc16f;
$background-color: #ebf3eb;
$footer-background-color: #e8f5e9;
$navbar-background-color: #d9fbd9;
$container-background-color: #f7fcf7;
$card-background-color: #ffffff;
$hover-link-color: #6f7969;
$hover-card-shadow: rgba(0, 0, 0, 0.2);

// Sombras
$box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0px 8px 16px rgba(0, 0, 0, 0.2);

// Tipografía
$base-font-size: 1rem;
$title-font-size: 1.5rem;
$font-weight-bold: bold;

// Espaciado
$base-padding: 20px;
$navbar-item-margin: 45px;
$card-padding: 25px;